@model UParking.Models.Payment1

@{
    ViewData["Title"] = "NetbankingPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paypal-card">
    <div class="container">
        <div class="card-title">
            <h2>PAYMENT</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="payment-type">
                    <h4 class="payh4">Choose payment method below</h4>
                    <div class="pay-types">
                        <button class="ptype" asp-action="NewPayment" asp-area="" asp-controller="PaymentMVC">
                            <div class="logo">
                                <i class='bx bx-credit-card bx-md'></i>
                            </div>
                            <div class="text">
                                <p>Pay with Credit Card / Debit Card</p>
                            </div>
                        </button>
                        <button class="ptype" asp-action="UpiPayment" asp-area="" asp-controller="PaymentMVC">
                            <div class="logo">
                                <i class='bx bx-mobile-alt bx-md'></i>
                            </div>
                            <div class="text">
                                <p>Pay with UPI</p>
                            </div>
                        </button>
                        <button class="ptype" asp-action="NetbankingPayment" asp-area="" asp-controller="PaymentMVC">
                            <div class="logo">
                                <i class='bx bxs-bank bx-md'></i>
                            </div>
                            <div class="text">
                                <p>Pay with Net Banking</p>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
            <section id="creditcard">
                <div class="payment-info">
                    <div class="column">
                        <div class="title">
                            <h4 class="cardhead">NetBanking</h4>
                        </div>
                        <form asp-action="NetbankingPayment">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Bank" class="upilabel">Select your Bank</label>
                            <select asp-for="Bank" class="payopt">
                                <option>Please Select</option>
                                <option value="sbi">SBI</option>
                                <option value="iob">IOB</option>
                                <option value="indian">INDIAN</option>
                                <option value="canara">CANARA</option>
                                <option value="axis">AXIS</option>
                            </select>
                            <span asp-validation-for="Bank" class="text-danger"></span>
                            <div class="field-full">
                                <label for="amt">Amount</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Pay" class="paypal-btn" data-toggle="modal" data-target="#myModal" />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@*<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Awesome!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your booking has been confirmed.</p>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
