@{
    ViewData["Title"] = "Home Page";
}

<div class="video">
    <video autoplay muted loop id="myVideo">
        <source src="~/lib/Videos/parking.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<section class="section-1">
    <div class="boxes-1">
        <div class='row' style="justify-content: center; ">
            <div class="card text-center" style="width: 18rem; height:10rem;margin:10px; padding:30px">
                <div class="card-body">
                    <h5 class="card-title" id="no-1" style="color:#3ecf8e; font-weight:bold;font-size:30px;">3</h5>
                    <p class="card-text" style="color:#32325d;">Country</p>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;height:10rem; margin:10px;padding:30px">
                <div class="card-body">
                    <h5 class="card-title" id="no-2" style="color:#3ecf8e; font-weight:bold;font-size:30px;">60</h5>
                    <p class="card-text" style="color:#32325d;">Parking Transactions</p>
                </div>
            </div>
        </div>
        <div class='row' style="justify-content: center;">
            <div class="card text-center" style="width: 18rem;height:10rem; margin:10px;padding:30px">
                <div class="card-body">
                    <h5 class="card-title" id="no-3" style="color:#3ecf8e; font-weight:bold;font-size:30px;">100+</h5>
                    <p class="card-text" style="color:#32325d;">Parking Lots</p>
                </div>
            </div>
            <div class="card text-center" style="width: 18rem;height:10rem; margin:10px;padding:30px">
                <div class="card-body">
                    <h5 class="card-title" id="no-4" style="color:#3ecf8e; font-weight:bold;font-size:30px;">3</h5>
                    <p class="card-text" style="color:#32325d;min-width:50%;">Smart city projects</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-2">
    <div class="left-con">
        <h2>Our Platform Makes Any Equipment Interoperable</h2>
        <p>Traditional parking equipment operates in silos and at best might work together with other products from the same manufacturer. In today’s new-age mobility, you need an ecosystem of integrated hardware and software components regardless of which version or vendor they all come from. Our GMP Platform delivers you that coherent interoperable ecosystem.</p>
        <a href="#" class="btn btn-success" >know more</a>
    </div>

    <div class="vid-2">
        <video autoplay muted loop id="Video-2">
            <source src="~/lib/Videos/interoperable.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <!-- <img src="top_fold-removebg-preview.png"> -->
    </div>
</section>

<section class="sec-3">
    <div class="top-txt">
        <h3>Transforming Parking Into Intelligent Mobility Hubs</h3>
        <p>Our technology enables seamless use of parking for pick up and drop of shared mobility, storage and deliveries for e-commerce, EV charging, and on the fly automotive services.</p>
    </div>
    <div class="btm-img">
        <video autoplay muted loop id="video-3">
            <source src="~/lib/Videos/advance-parking.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</section>

<section class="sec-4">
    <div class="box">
        <div class="left-txt">
            <h3>Ready to Get Started</h3>
            <p>Test It Yourself</p>
            <a href="#" class="btn btn-success">Download the App</a>
        </div>
        <div class="right-img">
            <img src="~/lib/Images/parking-app.png">
        </div>
    </div>
</section>
